/* Enter your custom styles here */

/*  .sapUiBody {
    font-family: "72-Web",CJ ONLYONE NEW 본문,Arial,Helvetica,sans-serif;
}

.sapMBtnInner {
	font-family: "72-Web",CJ ONLYONE NEW 본문,Arial,Helvetica,sans-serif;
}

.sapMText {
    font-family: "72-Web",CJ ONLYONE NEW 본문,Arial,Helvetica,sans-serif;
}

.sapMLabel {
    font-family: "72-Web", CJ ONLYONE NEW 본문,Arial,Helvetica,sans-serif;
}

.sapMInputBaseInner {
    font-family: "72-Web", CJ ONLYONE NEW 본문,Arial,Helvetica,sans-serif;
}
 */